body *{
	font-family: arial;
}

#wrapper{
	margin:0px auto;
	width: 80%;
}

#wrapper table tr td{
	padding: 5px;
}

header{
	margin:0px auto;
	text-align: center;
}

nav{
	margin:0px auto;
}
nav ul{
	margin: 0px;
	padding: 5px;
}

nav ul li{
	display: inline;
	margin: 30px; 
}

li a{
	text-decoration: none;
}

li a:hover{
	color:green;
}

footer{
	margin-top: 50px; 
}

.content{
	padding:10px;
}

.news{
	color:blue;
}

.error{
	color:red;
}

.success{
	color:green;
}


.overview td{
	background-color: #99CCFF;
}

.overview td:hover{
	background-color: #99CC00;
}

.overview tr:not(:first-child){
	border-top-style: solid;
	border-width: 1px;
	border-color:white;
}

.overview th{
	background-color: #6699FF;
	margin: 0px;
	padding: 10px;
}

.overview th:first-child{
	border-top-left-radius: 10px;
}

.overview th:last-child{
	border-top-right-radius: 10px;
}

.overview{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

.overview caption{
	font-size: 20px;
	margin-bottom: 10px;
	
}


